<!-- <p>Unformatted : {{msg}}</p>
<p>UpperCase : {{msg | uppercase}}</p>
<p>LowerCase : {{msg | lowercase}}</p> -->

<!-- <p>short : {{toDate | date : 'short'}}</p>
<p>medium : {{toDate | date : 'medium'}}</p>
<p>fulldate : {{toDate | date : 'fullDate'}}</p>
<p>longdate : {{toDate | date : 'longDate'}}</p>
<p>mediumDate : {{toDate | date : 'mediumDate'}}</p>
<p>shortDate : {{toDate | date : 'shortDate'}}</p>
<p>mediumTime : {{toDate | date : 'mediumTime'}}</p> -->

<!-- <p>Unformatted : {{per}}</p>
<p>Demo1 : {{per | percent}}</p>
<p>Demo2 : {{per | percent : '1.2-2'}}</p> -->

<p>Unformatted : {{num}}</p>
<p>formatted : {{num | number}}</p>
<p>formatted : {{num | number : '3.1-2'}}</p>
<p>formatted : {{num | number : '7.1-5'}}</p>
